header{
  position:fixed;
  top:0;
  left:0;
  height: 20%;
  width: 100%;
}

search-box{
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */

  display: flex;
  /*max-width: 480px;*/
  /* 길이는 max를 모바일 최대 가로사이즈로 변경하기. 미디어쿼리에서 민맥스 이용?*/
  height: 72px;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menuicon{
  display: flex;
  width: 28px;
  height: 28px;
  background-color: darkgrey;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  /* margin-right: 24px; */
  background-color: #d8d8d8;

}

.search_box_wrap{
  /* display: flex; justify-content: center; */
  position: relative;
  /* margin-top:5%; */
  width: 300px;
  height: 30px;
  display: block;
  border: 1px solid #5A82B6;
  border-radius: 20px;
  background-color: white;
  margin: auto;
  width: 80%;
}

.search_text_wrap{
  position: absolute;
  top: 50%;
  left:1%;
  transform: translate(0%, -50%);
  width: 80%;
  height: 90%;
  background: none;
}

.search_icon_wrap{
  position: absolute;
  top: 50%;
  right:1%;
  transform: translate(0%, -50%);
  padding:0%;
  width: 27px;
  height: 27px;
  background: none;
  border-radius: 70%;
}


.search_text{
  border:none;
  padding:0% 5%;
  width:100%;
  height:100%;
  font-size:14px;
  color:lightgrey;
  border-radius: 20px 0px 0px 20px;
}

.search_text:focus{
  outline:none;

}

.search_icon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #5A82B6;
}